body{
    color:rgb(68, 71, 238);
    background-color: rgb(224, 224, 230);
    text-align: center;
    margin: 5px;
    padding: 50px;
    border: 5px solid seagreen ;
    border-radius: 5px;
}
h3{
    color: red;
}
